---
const { step, title, focus, desc, href, isLocked = false } = Astro.props;
---
<div class="lesson-item">
    <div class="top-meta">
        <span class="lesson-meta">LEVEL // {step}</span>
        <h3>{title}</h3>
        <span class="view-btn focus-tag">{focus}</span>
    </div>
    
    <p>{desc}</p>

    {isLocked ? (
        <span class="view-btn locked">STAY TUNED</span>
    ) : (
        <a href={href} class="view-btn active">ENTER SECTION</a>
    )}
</div>

<style>
   .lesson-item {
        border-right: 1px solid var(--border-gray);
        border-bottom: 1px solid var(--border-gray);
        padding: 60px 40px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        transition: 0.4s ease;
    }

    .lesson-item:hover {
        background: rgba(228, 30, 129, 0.03);
    }

    .lesson-meta {
        font-family: monospace;
        font-size: 0.7rem;
        letter-spacing: 3px;
        color: #e41e81;
    }

    .lesson-item h3 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.5rem;
        line-height: 1;
        margin: 20px 0;
        color: #facee2;
    }

    .lesson-item p {
        text-transform: none;
        color: #fff;
        opacity: 0.8;
        line-height: 1.6;
        font-size: 1rem;
    }

    .focus-tag { 
        background: none; 
        border: 1px solid #333; 
        color: #666; 
        font-size: 0.5rem;
        padding: 2px 8px;
    }

    .view-btn.active { 
        margin-top: 20px; 
        text-align: center;
        display: block;
        
    }

    .view-btn.locked { 
        margin-top: 20px; 
        opacity: 0.3; 
        pointer-events: none; 
        text-align: center;
        display: block;
    }

    @media (max-width: 768px) {
        .lesson-item { border-right: none; min-height: auto; }
        .lesson-item h3 { font-size: 2rem; }
    }
</style>
